body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: rgb(224, 248, 6);
  }
  
  .container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h1 {
    margin-bottom: 20px;
    text-decoration-color: red;
  }
  
  #question {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  #options {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  #options button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  
  #scores {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
  }
  
  button {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
 